* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  
}
a{
  text-decoration: none;
}
h2, h3, h4, h5, span, p, div{
  font-family: var(--fontfamily);
}
a {
  text-decoration: none;
}
html,
body {
  scroll-behavior: smooth;
  direction: rtl;
  ::-webkit-scrollbar {
    width: 9px;
    background-color: #f0f0f1;
  }


}
:root {
    --fontfamily: IranYekan, sans-serif;
  }
@font-face {
  font-family: IranYekan;
  src: url("../fonts/IRANYekanWeb.eot");
  src: url("../fonts/IRANYekanWeb.ttf");
  src: url("../fonts/IRANYekanWeb.woff");
  src: url("../fonts/IRANYekanWeb.woff2");
}
