/* .timeline {
        width: 39px;
        height: 27px;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: center;
        color: #e03e97;
        padding: 0 15px;
        & span {
          padding: 5px 6px;
          font-family: var(--fontfamily);
          font-size: 12px;
          font-weight: 700;
          background: #fdecf5;
          border: 2px solid #fff;
          border-radius: 8px;
        }
       
      } */