.giftcard__quad__ads{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    
    .quad__main{
        width: 85%;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        & a{
            display: flex;
            padding: 0 8px;
            margin: 16px 0;
            & img{
                width: 624px;
                height: 250px;
                border-radius: 8px;
            }
        }
    }
}